{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-4" style="text-align:center;">Lista de Contentores</h1>
    </header>

    <!-- Page Features -->
    <div class="row">

    {% if bins_list %}
        {% for bin in bins_list %}
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-center"><b><a href="/bin/{{ bin.bin_id }}">{{ bin.name }}</a></b></h4>
                <p class="card-text">
                    <ul>
                        <li><h5><b>Cidade</b>: {{ bin.city }}</h5></li>
                        <li><h5><b>Morada</b>: {{ bin.address }}</h5></li>
                        <li><h5><b>Capacidade</b>: {{ bin.capacity }}m³</h5></li>
                    </ul>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-12 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-center">Sem contentores, ainda.</h4>
              </div>
            </div>
        </div>
    {% endif %}
    

    </div>
    <!-- /.row -->

{% endblock content %}

